<!DOCTYPE html>
<html>

  <head>
    <title> Senator Page </title>
  </head>

  <body>
    <center> <h3>Hello! Submit the queries you want to search for senators by </h3>
    <form action = "/auth" method = "POST">
      <b>First name</b>
      <input type = "text" name = "fname"> <br> <br>
      <br>
      <b>Last name</b>
      <input type = "text" name = "lname"> <br> <br>
      <br>
      <b>CSPAN ID</b>
      <input type = "text" name = "cspan"> <br> <br>
      <br>
      <b>Political Party</b>
      <input type = "text" name = "pparty"> <br> <br>
      <br>
      <br>
      <input type = "submit" value = "Submit">
    </form> </center>
  </body>

</html>
